h2, h3, h4 {
    margin: 0;
    font-family: Muli;
    font-weight: 800;
}
h5 {
    margin: 0;
    font-family: Muli;
    font-weight: Bold;
    font-size: 24px;
    color: #ffffff;
}
p {
    font-family: Muli;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
} 
.btn{
    border-color: #FFFFFF;
    color: #fff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    font-family: Muli;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 36px;
    margin: 0 auto;

}
.btn--green-bg {
    background-color:#0aa566;
    border : none;
    height: 70px;
    width: 280px;
    font-weight: bold;
    font-size: 24px;
    border : none;
}

.btn--opacity-bg {
    background-color: transparent;
    background-repeat: no-repeat;
    height: 60px;
    width: 204px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
