/*
1. Header
    1.1 header-top
    1.2 header-content
2. Main
    2.1 smoothies
    2.2 about
    2.3 products
    2.4 story
    2.5 testimonials
    2.6 blog
    2.7 instagram
3. Footer
    3.1 footer-top
    3.2 footer-bottom
4. Helpers
  */


body {
    width : 100%;
    max-width: 1920px;
    margin: 0 auto;
} 

/* 1. Header */
header {
    width: 100%;
    background-image: url("../assets/images/SMweb/Main.png");
    background-size: cover;
    height: 1080px;
    margin: 0 auto;

}
.header-top li {
    display: inline;
}

/* 1.1 header-top */
.header-top {
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
    font-weight: bold;
    font-family: Muli;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;

}

.header-top .logo {

}
.menu__link {
    color: #FFFFFF;
    margin: 0 10px;
}

.personal__list-item {
    margin: 0 20px 0;
}

/* 1.2 header-content */
.header__content-inner {
    margin: 0 auto;
    text-align: center;
}

/* 2. Main */

/* 2.1 smoothies */
.smoothies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1010px ;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 110px;
    text-align: center;
}
.smoothies-consist{
    width: 90%;
    margin: 25px auto;    
    margin-bottom: 24px;
}
.smoothies-block h5 {
    color: #f2612d;
    font-size: 25px;
}
.smoothies-block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sm-features {
    flex: 0 1 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 195px;
}
.sm-features__item {
    width: 80px;
    height: 70px;
    margin-bottom: 30px;
}

/* 2.2 about */
.about h2 {
    font-size: 55px;
    color :#ffffff;
}
.newcolor {
    color:#cae941;
    font-weight: 400;

}
.container-about {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    background-color: #11846e;
}
.about-top {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0;
    padding-top: 100px;

}
.summer-pic {
    margin: 0 auto;
    padding-left: 140px;
    position:  relative;
    z-index: 1;
    top: 64px;
}
.about__btn-wrapper .btn--opacity-bg {
    width: 380px;
    font-size : 21px;
    border-color: #ecb034;

}
.about__btn-wrapper {
    float: left;
    padding-top: 50px;
    
}
.underline { 
    padding-left: 70px;
    padding-bottom: 45px;   
}
.about-list li {
    display: block;
    font-family: Muli;
    font-weight: 800;
    font-size: 21px;
    color :#ffffff;
    line-height: 1.5;

}
.about-list li::before {
    content:"";
    background: url(../assets/images/SMweb/marker.png) 0 0 no-repeat;
    width : 20px;
    height: 20px;
    padding-left: 30px;
}


/* 2.3 products*/
.products-list__item p {
    font-weight: Italic;
    color: #ffffff;
    font-size: 21px;
}
.products-list{
    display: flex;
}
.products-choko {
    background-color: #632b15;
}
.products-vegan {
    background-color: #168571;
}
.products-lemon {
background-color: #f3b03d;
}
.products-turmeric {
background-color: #c0481c;
}
.products-list__item {
    flex-grow: 1; 
    text-align: center;
    width: 480px;
    height: 720px;
    justify-content: center;
    align-items: center;
}
img.products__item {
    width: 119px;
    height: 303px;
    padding-top: 129px;
    margin-bottom: 34px;
}
.thin {
    font-style: 400;
    font-size : 21px;
}

/* 2.4 story */
.story .btn--green-bg {
    width: 300px;
    height: 60px;
    margin: 30px 0 0 0;
}
.story {
    display: flex;}
.story-top {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 520px;
    padding-top: 260px;
    text-align: left;
    flex: 50%;
}
.story__title {
    margin-bottom: 40px;
}
.story__text { 
    font-size: 18px;
    font-family: Muli;
    font-weight: 400;
}
.story-content {
    position: relative;
}
.story-content--stamp {
    position: absolute;
    top: 140px;
    left: -166px;
    z-index: 10
}
.story-content--pic {
    width: 585px;
    height: 601px;
    padding-top: 120px;
    padding-bottom: 160px;
    padding-right: 310px;
}

/* 2.5 testimonials */
.testimonials {
    background-color: #6a2f1e;
    width: 100%;
    margin: 0 auto;
}
.testimonials-top  {
    text-align: center;
    padding-top: 120px;
}
.testimonials-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    position: relative;
    padding-bottom: 320px;
}
.client-name {
    width: 800px;
    font-family: Muli;
    font-weight: 800;
    color:#5d210d;
    font-size: 200px;
    margin: 0;
    line-height: .8;
    position: relative;
    right: 150px;
}
p {
    margin: 0;
}
.client-text {
    text-align: center;
    display: block;
    flex: 50%;
    width: 100%;
    max-width: 467px;
    position: absolute;
    top: 100px;
    left: 15px;
    color: #ffffff;
}
.client-pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    position: absolute;
    top: 35px;
    right: 30px;
}
cite {
    color: #c5852f;
    font-weight: 600;
    line-height: 2.5;
}


/* 2.6 blog */
.blog-content h2 {
    padding-top :98px;
    padding-left: 360px;
}
time {
    padding-left: 62px;
}
.blog-text {
    padding-left: 124px; 
}
.blog-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.article {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.article::after {
    display: inline-block;
    box-sizing: border-box;
    content: "";
    background: url("../assets/images/SMweb/") 0 0 no-repeat;
}

.blog-pic {
    margin: 0;
    width: 555px;
    height: 400px;
    padding-left: 360px;
    padding-bottom: 200px;
    padding-top: 47px;
}
.line {
    color: #f2612d;
    width: 687px;
    height: 12px;
    padding-top: 266px;
    padding-bottom: 50px;
}

/* 2.7 instagram */
.instagram-galery {
    display: flex;
    margin-bottom: 10px;
}
.insta-id {
    display: block;
    padding-bottom: 3px;
    text-align: center;
    color : #0aa566;
    font-family: Muli;
    font-weight: 800;
    font-size : 24px;
    margin-bottom: 44px;
}
.insta-pic {
    margin : -6px;
    padding-right :13px;
}
.instagram-galery__item {
    position: relative;
    width :20%;
    border: 0;
}
.insta-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 338px;
    right: 20px;

}

/* 3. Footer */
.footer {
    margin: 0;
}

/* 3.1 footer-top */
.footer-top {
    display: flex;
    justify-content: space-around;
    background-color: #fbaf39;
    padding-top: 80px;
    margin-bottom: 0;
    padding-bottom: 90px;
}
.footer-top h4 {
    color: #ffffff;
    font-size: 26px;
}
.info__item a {
    text-decoration: none;
    color: #6d450c;
    font-size: 18px;
    font-weight: Bold;
}
.pay__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 230px;
}
.pay__item {
    display: block;
    margin: 0;
}

.subscribe {
    width: 500px;
}

.follow li {
    display: inline;
}
.follow {
    display: flex;
    border: 3px solid black;
    align-items: flex-end;
    justify-content: flex-end;
}
.follow li {
    display: inline;
}
.follow .social__item {
    margin: 0 13px 0;
}
.follow h4 {
    margin-right: 45px;
    margin-left: 20px;
} 
.follow h4 {
    font-size: 18px;
    color: #6d450c;
}
.follow h4::before {
    box-sizing: border-box;
    display: block;
    content: "";
    background: url("./assets/images/SMweb/ArrowFollow.png") 0 0 no-repeat;

}
textarea {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* 3.2 footer-bottom */
.footer-bottom {
    display: flex;
    justify-content: center;
    background-color: #712d1c;
    margin-bottom: 0;
    position: relative;
}
.footer-bottom__item {
    color: #af8a82;
    font-family: Muli;
    font-weight: 400;
    font-size: 13px;

}
.footer-bottom__gotop {
    font-family: Muli;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: -25px;
    right: 30px;
    padding-bottom: 20px;
}
.orange-square {
    margin: 0;
}
.top-arrow {
    position: absolute;
    top: -18px;
    right: 18px;
    z-index: 10;
}

/* 4. Helpers */
.title--orange {
    color: #f7ae3b;
    font-size: 50px;
}
.title--white {
    color: #ffffff;
    font-size: 55px;
}
.title--article {
    font-size: 30px;
    color: #f2612d;
    padding-left: 62px;
}
.arrow-yellow {
    display: block;
    float: right;
}
.client {
    color: #f2612d;
}

* {
    border: 1px solid red;
}
