body {
    margin: 0;
    width: 1920px;
} 
header{
    background-image: url(../assets/images/SMweb/main-img.png);
    display: flex;
    height: 1080px;
    flex-direction: column;
}
.header-top {
    display: flex;
    justify-content: space-around;
    padding-top :99px;
}
h2, h3, h4 {
    margin: 0;
    font-family: Muli;
    font-weight: 800;
}
.title--orange {
    color: #f7ae3b;
    font-size: 50px;
}
.title--white {
    color: #ffffff;
    font-size: 55px;
}
.title--article {
    font-size: 30px;
    color: #f2612d;
    padding-left: 62px;
}
.blog-content h2 {
    padding-top :98px;
    padding-left: 360px;
}
time {
    padding-left: 62px;
}
.blog-content p {
    padding-left: 124px; 
}
.footer-top h4 {
    color: #ffffff;
    font-size: 26px;
}
.follow h4 {
    font-size: 18px;
    color: #6d450c;
}
h5 {
    margin: 0;
    font-family: Muli;
    font-weight: Bold;
    font-size: 24px;
    color: #ffffff;
}
.smoothies {
    margin: 0 500px;
}
.smoothies-block h5 {
    color: #f2612d;
    font-size: 25px;
}
.smoothies-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1010px;
    height: 389px;
}
p {
    font-family: Muli;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
}

.products-list__item p {
    font-weight: Italic;
    color: #ffffff;
    font-size: 21px;
}
.smoothies h2 {
    padding-top: 99px;
}
.about h2 {
    font-size: 55px;
    color :#ffffff;
}
.testimonials-top span {
    color: #f2612d;
}
.story-top {
    margin: 0;
    padding-top: 259px;
}
.about-top .title2 {
    color : #ffffff;
}
.newcolor {
    color:#cae941
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
} 
.header-top li {
    display: inline;
}
.menu a{
    font-weight: bold;
    font-family: Muli;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: .32px 16px;
}
.personal ul li a{
    font-weight: bold;
    font-family: Muli;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: .32px 16px;
}
.social ul li a{
    font-weight: bold;
    font-family: Muli;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: .32px 16px;
}
.menu__list .personal__list .social__list {
    display: flex;
    justify-content: space-between;
}
.header-content{
    display: flex;
    justify-content: center;
}
.btn{
    border-color: #FFFFFF;
    background-color: #fff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.btn--green-bg {
    background-color:#0aa566;
    border : none;
    height: 70px;
    width: 280px;
    font-weight: bold;
    font-family: Muli;
    font-size: 24px;
    border : none;
}

.btn--opacity-bg {
    background-color: transparent;
    background-repeat: no-repeat;
    height: 60px;
    width: 204px;
    font-weight: 400;
    font-family: Muli;
    font-size: 21px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.story__btn-wrapper .btn--green-bg {
    width: 300px;
    height: 60px;
}
.smoothies {
    text-align: center;
}
.smoothies-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about {
    height: 800px;
    background-color: #11846e;
    display: flex;   
}
.about-top {
    display: block;
    margin: 0;
    padding-top: 99px;
    width: 1086px;
    padding-left: 141px;
}
.about__btn-wrapper .btn--opacity-bg {
    width: 380px;
    font-size : 21px;
    border-color: #ecb034;
}
.about__btn-wrapper {
    margin-bottom: 94px;
}
.underline { 
    padding-left: 70px;
    padding-bottom: 48px;
    
}
.about-top li {
    font-family: Muli;
    font-weight: 800;
    font-size: 21px;
    color :#ffffff;
    background-image: url(../assets/images/SMweb/marker.png);
    background-repeat: no-repeat;
    padding-left: 19px;
    background-position: 0 4px;
    margin-bottom: 22px;
}
li span {
    font-weight: 400;
}
.summer-pic {
    widows: 691px;
    height: 818px;
    padding-left: 143px;
    padding-top: 64px;
    position: relative;
    z-index: 1;
}
.products-list{
    display: flex;
}
.products-choko {
    background-color: #632b15;
}
.products-vegan {
    background-color: #168571;
}
.products-lemon {
background-color: #f3b03d;

}
.products-turmeric {
background-color: #c0481c;
}
.products-list__item {
    flex-grow: 1; 
    text-align: center;
    width: 480px;
    height: 720px;
    justify-content: center;
    align-items: center;
}
img.products__item {
    width: 119px;
    height: 303px;
    padding-top: 129px;
    margin-bottom: 34px;
}
.thin {
    font-style: 400;
    font-size : 21px;
}
.story {
    display: flex;}
.story-top {
    margin: 0;
    padding-top: 259px;
    padding-left: 308px;
    padding-right: 202px;
    text-align: left;
}
.story-pic {
    width: 585px;
    height: 601px;
    padding-top: 120px;
    padding-bottom: 160px;
    padding-right: 310px;
}
.testimonials {
    text-align: center;
    background-color: #6a2f1e;
}
.instagram-galery {
    display: flex;
    margin-bottom: 10px;
}
.instagram a {
    display: block;
    padding-bottom: 3px;
    text-align: center;
    color : #0aa566;
    font-family: Muli;
    font-weight: 800;
    font-size : 24px;
    margin-bottom: 44px;
}
.instagram a img {
    margin : -6px;
    padding-right :13px;
}
.instagram-galery {
    display: flex;
}
.instagram-galery__item {
    position: relative;
    width :20%;
    border: 0;
}
.insta-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 338px;
    left: 336px;
}
.blog-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.blog-pic {
    margin: 0;
    width: 555px;
    height: 400px;
    padding-left: 360px;
    padding-bottom: 200px;
    padding-top: 47px;

}
.line {
    color: #f2612d;
    width: 687px;
    height: 12px;
    padding-top: 266px;
    padding-bottom: 50px;
}
.footer-top {
    display: flex;
    justify-content: space-around;
    background-color: #fbaf39;
    padding-top: 80px;
    margin-bottom: 0;
}
.info__item a {
    text-decoration: none;
}
.pay__list {
    display: flex;
}
.follow li {
    display: inline;
}
.footer-buttom {
    background-color: #712d1c;
    margin-bottom: 0;
}
* {
    border: 3px solid red;

}